@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");
/* Media Queries */
body {
  margin: 0;
  background: linear-gradient(135deg, #5d0092, #0084ac);
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 1fr;
  grid-area: "hdr" "mn" "ftr";
  gap: 1.5rem;
}
body main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
body main .display.felx-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: flex-start;
}
body main .display div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}
body main .dataField {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  /* Media Queries */
}
body main .dataField .country {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
}
body main .dataField .zipSection {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
}
body main .dataField .feel {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
}
@media only screen and (min-height: 37.5em) and (max-width: 20.625em) {
  body main .dataField {
    /* Foldable Narrow Device ($mn-hgt, $mx-wdth) */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
  }
}
body footer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
body footer div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

header {
  height: 15vh;
  margin-bottom: 2rem;
  /* Media Queries */
}
header h1 {
  color: white;
  font-family: "Lobster Two", cursive;
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
  margin-top: 2.3rem;
}
@media only screen and (min-height: 60em) and (max-height: 87em) and (min-width: 45em) and (max-width: 64em) {
  header {
    /* ALL pads ($mn-hgt, $mx-hgt, $mn-wdth, $mx-wdth) */
  }
  header h1 {
    margin-top: 7rem;
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 64em) and (max-width: 87em) and (min-height: 48em) {
  header {
    /* ALL flipped pads ($mn-hgt, $mx-hgt, $mn-wdth, $mx-wdth) */
  }
  header h1 {
    margin-top: 7rem;
    font-size: 2.5rem;
  }
}
@media only screen and (max-height: 40.75em) and (min-width: 59.375em) {
  header {
    /* ($mx-hgt, $mn-wdth) */
  }
  header h1 {
    font-size: 2rem;
  }
}

main {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: wheat;
  padding: 1rem;
  min-height: 50vh;
  /* Media Queries */
}
main div {
  margin: 0.7rem 0;
}
main div.dataField {
  width: 100%;
}
main div.dataField label {
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.6rem;
}
main div.dataField .country select {
  padding: 0.25rem;
  border-radius: 0.7rem;
  border: none;
  padding: 0.5rem;
}
main div.dataField .zipSection input {
  padding: 0.25rem;
  border-radius: 0.7rem;
  border: none;
  width: 7.5rem;
  padding: 0.5rem;
}
main div.dataField .feel textarea {
  padding: 0.25rem;
  border-radius: 0.7rem;
  border: none;
  padding: 0.35rem;
  height: 2rem;
  min-height: 1.3rem;
  max-height: 5rem;
  width: 45vw;
  min-width: 30vw;
  max-width: 55vw;
}
main div.dataField button {
  color: white;
  font-weight: bold;
  padding: 1rem;
  border-radius: 1rem;
  background: linear-gradient(100deg, #b6b6b6, #b9985a);
  border: none;
  margin-top: 1.2rem;
}
main div.dataField button:hover {
  cursor: pointer;
  color: #5e5e5e;
  background: linear-gradient(200deg, #b6b6b6, #b9985a);
}
main div.display {
  border: 2px solid wheat;
  border-radius: 1rem;
  height: 30rem;
  max-height: 4rem;
  transition: max-height 1s ease-in-out;
  width: 70vw;
  box-shadow: 1px 4px 4px rgba(192, 192, 192, 0.548);
}
main div.display div {
  padding-top: 0.85rem;
}
main div.display div.hide {
  display: none;
}
main div.display div.limitWidth {
  width: 75%;
  padding-left: 1.5rem;
}
main div.display div .hide {
  display: none;
}
main div.display div i.fa-style {
  --fa-beat-fade-opacity: 0.1;
  --fa-beat-fade-scale: 1.25;
}
main div.display.extend {
  max-height: 30rem;
}
@media only screen and (min-height: 47.8em) and (max-width: 31.25em) {
  main {
    /* ($mn-hgt, $mx-wdth) */
    min-height: 40vh;
  }
  main div.display {
    width: 70vw;
    height: 30rem;
    max-height: 4rem;
  }
  main div.display.extend {
    max-height: 30rem;
  }
}
@media only screen and (min-height: 37.5em) and (max-width: 20.625em) {
  main {
    /* Foldable Narrow Device ($mn-hgt, $mx-wdth) */
  }
  main div.dataField .feel textarea {
    width: 55vw;
    max-width: 70vw;
  }
  main div.display {
    width: 85vw;
    height: 30.5rem;
    max-height: 4rem;
  }
  main div.display.extend {
    max-height: 30.5rem;
  }
  main div.display div.limitWidth {
    width: 80%;
  }
}
@media only screen and (min-width: 31.25em) and (max-height: 28.125em) {
  main {
    /* ($mn-wdth, $mx-hgt) */
  }
  main div.display {
    width: 55vw;
    height: 30rem;
    max-height: 4rem;
  }
  main div.display.extend {
    max-height: 30rem;
  }
}
@media only screen and (min-height: 60em) and (max-height: 87em) and (min-width: 45em) and (max-width: 64em) {
  main {
    /* ALL pads ($mn-hgt, $mx-hgt, $mn-wdth, $mx-wdth) */
    font-size: 1.3rem;
    min-height: 45vh;
  }
  main div.dataField {
    width: 80%;
  }
  main div.dataField button {
    font-size: 1.1rem;
  }
  main div.dataField .zipSection input {
    padding: 0.45rem;
    font-size: 1.1rem;
    width: 10rem;
  }
  main div.dataField .country select {
    padding: 0.45rem;
    font-size: 1.1rem;
  }
  main div.dataField .feel textarea {
    padding: 0.45rem;
    font-size: 1.1rem;
  }
  main div.display {
    width: 50vw;
    height: 34rem;
    max-height: 4.5rem;
    font-size: 1.2rem;
  }
  main div.display.extend {
    max-height: 34rem;
  }
  main div.display div.limitWidth {
    width: 85%;
  }
}
@media only screen and (min-width: 64em) and (max-width: 87em) and (min-height: 48em) {
  main {
    /* ALL flipped pads ($mn-hgt, $mx-hgt, $mn-wdth, $mx-wdth) */
    font-size: 1.3rem;
    min-height: 55vh;
  }
  main div.dataField {
    width: 80%;
  }
  main div.dataField button {
    font-size: 1.1rem;
  }
  main div.dataField .zipSection input {
    padding: 0.45rem;
    font-size: 1.1rem;
    width: 10rem;
  }
  main div.dataField .country select {
    padding: 0.45rem;
    font-size: 1.1rem;
  }
  main div.dataField .feel textarea {
    padding: 0.45rem;
    font-size: 1.1rem;
  }
  main div.display {
    width: 40vw;
    height: 34rem;
    max-height: 4.5rem;
    font-size: 1.2rem;
  }
  main div.display.extend {
    max-height: 34rem;
  }
  main div.display div.limitWidth {
    width: 85%;
  }
}
@media only screen and (max-height: 40.75em) and (min-width: 59.375em) {
  main {
    /* ($mx-hgt, $mn-wdth) */
  }
  main div.dataField {
    width: 45%;
  }
  main div.dataField .feel textarea {
    width: 25vw;
    min-width: 20vw;
    max-width: 30vw;
  }
  main div.display {
    width: 30vw;
    height: 34rem;
    max-height: 4.5rem;
    font-size: 1.2rem;
  }
  main div.display.extend {
    max-height: 34rem;
  }
  main div.display div.limitWidth {
    width: 85%;
  }
}

footer {
  color: wheat;
  padding: 1rem;
  /* Media Queries */
}
footer p {
  font-family: "Lobster Two", cursive;
  font-size: 1.1rem;
}
footer div {
  width: 80%;
  margin: 1rem 0;
}
footer div i {
  cursor: pointer;
  font-size: 2.2rem;
  color: wheat;
}
footer div i.fa-style {
  --fa-beat-fade-opacity: 0.1;
  --fa-beat-fade-scale: 1.25;
}
@media only screen and (min-height: 47.8em) and (max-width: 31.25em) {
  footer {
    /* ($mn-hgt, $mx-wdth) */
    min-height: 30vh;
  }
}
@media only screen and (min-width: 31.25em) and (max-height: 28.125em) {
  footer {
    /* ($mn-wdth, $mx-hgt) */
  }
  footer div {
    max-width: 45%;
  }
}
@media only screen and (min-height: 60em) and (max-height: 87em) and (min-width: 45em) and (max-width: 64em) {
  footer {
    /* ALL pads ($mn-hgt, $mx-hgt, $mn-wdth, $mx-wdth) */
    min-height: 30vh;
  }
  footer p {
    font-size: 2rem;
  }
  footer div {
    max-width: 55%;
  }
}
@media only screen and (min-width: 64em) and (max-width: 87em) and (min-height: 48em) {
  footer {
    /* ALL flipped pads ($mn-hgt, $mx-hgt, $mn-wdth, $mx-wdth) */
    min-height: 30vh;
  }
  footer p {
    font-size: 2rem;
  }
  footer div {
    max-width: 40%;
  }
}
@media only screen and (max-height: 40.75em) and (min-width: 59.375em) {
  footer {
    /* ($mx-hgt, $mn-wdth) */
  }
  footer p {
    font-size: 1.5rem;
  }
  footer div {
    width: 35%;
  }
  footer div i {
    font-size: 2.5rem;
  }
}