@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
/* Media Queries */
/* header variables */
/* page variables */
/* footer variables */
body {
  margin: 0;
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 1fr;
  grid-area: 'hdr' 'mn' 'ftr';
}
body header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}
body main .D-T-L {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
body main .D-T-L .loc {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
body main .app {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
body main .app .display {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
body main .app .display .section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
body main .app .display .section div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
body main .app .dataField {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
}
body main .app .dataField #field1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
body main .app .dataField #field1 .country {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
}
body main .app .dataField #field1 .zipSection {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
}
body main .app .dataField #field1 .feel {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
}
body main .app .dataField #field2 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
body footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
body footer div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
body footer div#author {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

header {
  height: 3.5rem;
  background: linear-gradient(
    100deg,
    rgb(12, 202, 202),
    rgba(75, 214, 207, 0.699)
  );
  /* Media Queries */
}
header h1 {
  margin: 0.5rem 0;
  color: white;
  font-family: 'Lobster Two', cursive;
  font-size: 1.8rem;
  padding-left: 1.2rem;
}
@media only screen and (min-width: 31.25em) and (max-height: 28.125em) {
  header {
    /* Flipped Mobile screens ($mn-wdth, $mx-hgt) */
    height: 3.5rem;
  }
}
@media only screen and (min-height: 60em) and (max-height: 87em) and (min-width: 45em) and (max-width: 64em) {
  header {
    /* ALL pads ($mn-hgt, $mx-hgt, $mn-wdth, $mx-wdth) */
    height: 5rem;
  }
  header h1 {
    font-size: 2.2rem;
  }
}
@media only screen and (min-width: 64em) and (max-width: 87em) and (min-height: 48em) {
  header {
    /* ALL flipped pads ($mn-hgt, $mx-hgt, $mn-wdth, $mx-wdth) */
    height: 5rem;
  }
  header h1 {
    font-size: 2.2rem;
  }
}
@media only screen and (max-height: 40.75em) and (min-width: 59.375em) {
  header {
    /* Laptop Screens ($mx-hgt, $mn-wdth) */
    height: 4.5rem;
  }
  header h1 {
    font-size: 2rem;
  }
}

main {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  min-height: 50vh;
  /* Media Queries */
}
main div {
  margin: 0.7rem 0;
}
main div.D-T-L {
  margin: 0;
  padding-bottom: 65vh;
  background: no-repeat center/290% url('../assets/pexels-pixabay-258136.jpg');
  border-radius: 0 0 0 5rem;
}
main div.D-T-L div.D-T p {
  margin: 0 0 0 1.5rem;
}
main div.D-T-L div.D-T p#time {
  font-size: 1.8rem;
}
main div.D-T-L div.D-T p#date {
  font-size: 1rem;
}
main div.app {
  width: 100%;
  background-color: white;
  margin: 0;
}
main div.app .dataField #field1 label {
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.6rem;
  color: rgb(15, 87, 146);
}
main div.app .dataField #field1 .country {
  margin: 0.35rem;
}
main div.app .dataField #field1 .country select {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid grey;
}
main div.app .dataField #field1 .zipSection {
  margin: 0.35rem;
}
main div.app .dataField #field1 .zipSection input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid grey;
  width: 7.5rem;
  text-decoration: 1px underline grey;
}
main div.app .dataField #field1 .feel {
  margin: 0.35rem;
}
main div.app .dataField #field1 .feel textarea {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid grey;
  text-decoration: 1px underline grey;
  height: 1.15rem;
  min-height: 1.15rem;
  max-height: 1.15rem;
  width: 13rem;
  min-width: 13rem;
  max-width: 13rem;
}
main div.app .dataField #field2 button {
  font-size: 0.95rem;
  width: 12rem;
  color: white;
  background-color: rgb(90, 181, 218);
  border: 2px solid rgb(90, 181, 218);
  font-weight: bold;
  padding: 0.6rem;
  border-radius: 1.5rem;
  margin: 0.35rem 0 0.35rem 0;
}
main div.app .dataField #field2 button:hover {
  cursor: pointer;
  color: rgb(90, 181, 218);
  background-color: white;
}
main div.app .display div.section div {
  margin: 1.3rem 0.55rem;
}
main div.app .display div.section div i {
  font-size: 1.1rem;
  padding: 1rem 1.2rem;
  border-radius: 4rem;
}
main div.app .display div.section div i.fa-location-dot {
  color: rgb(177, 129, 7);
  background-color: rgba(184, 148, 57, 0.719);
}
main div.app .display div.section div i.fa-temperature-half {
  color: darkred;
  background-color: rgba(177, 70, 70, 0.603);
}
main div.app .display div.section div i.fa-wind {
  color: rgb(1, 124, 124);
  background-color: rgba(68, 172, 172, 0.603);
}
main div.app .display div.section div i.fa-droplet {
  color: darkblue;
  background-color: rgba(57, 57, 161, 0.603);
}
main div.app .display div.section div i.fa-user {
  color: darkgreen;
  background-color: rgba(57, 160, 57, 0.603);
}
main div.app .display div.section div .value {
  font-size: 0.95rem;
  font-weight: bold;
  color: rgba(15, 87, 146, 0.925);
  text-align: center;
  margin: 0;
  transition: opacity 2.5s ease-in-out;
}
main div.app .display div.section div .value.hide {
  opacity: 0;
}
main div.app .display div.section div .title {
  padding-bottom: 0.75rem;
  border-bottom: 1px solid rgba(15, 87, 146, 0.925);
  font-weight: bold;
  color: rgba(15, 87, 146, 0.925);
  text-align: center;
}
main div.app .display #header {
  font-family: 'Lobster Two', cursive;
  font-weight: bold;
  font-size: 1.4rem;
  color: rgba(15, 87, 146, 0.925);
}
@media only screen and (min-width: 31.25em) and (max-height: 28.125em) {
  main div.D-T-L {
    background: no-repeat center/100% url('../assets/pexels-pixabay-258136.jpg');
  }
}
@media only screen and (min-height: 47.8em) and (max-width: 31.25em) {
  main {
    /* Tall Mobile Screens ($mn-hgt, $mx-wdth) */
    min-height: 50vh;
  }
}
@media only screen and (min-height: 37.5em) and (max-width: 20.625em) {
  main {
    /* Foldable Narrow Device ($mn-hgt, $mx-wdth) */
  }
  main div.D-T-L {
    background: no-repeat center/330% url('../assets/pexels-pixabay-258136.jpg');
  }
  main div.D-T-L div.D-T {
    margin: 0 0 0 0.85rem;
  }
  main div.D-T-L div.D-T p#time {
    font-size: 1.35rem;
  }
  main div.D-T-L div.D-T p#date {
    font-size: 0.85rem;
  }
  main div.D-T-L div.loc p {
    margin: 0 0.85rem 0 0;
  }
  main div.D-T-L div.loc p#cityLoc {
    font-size: 1.35rem;
  }
  main div.D-T-L div.loc p#country {
    font-size: 0.85rem;
  }
}
@media only screen and (min-height: 60em) and (max-height: 87em) and (min-width: 45em) and (max-width: 64em) {
  main {
    /* ALL pads ($mn-hgt, $mx-hgt, $mn-wdth, $mx-wdth) */
  }
  main div.D-T-L {
    padding-bottom: 40vh;
    background: no-repeat center/150% url('../assets/pexels-pixabay-258136.jpg');
  }
  main div.app {
    margin: 2rem 0;
    min-height: 40vh;
  }
  main div.app .display div.section div {
    margin: 1.3rem 0.8rem;
  }
}
@media only screen and (min-width: 64em) and (max-width: 87em) and (min-height: 44em) {
  main {
    /* ALL flipped pads ($mn-wdth, $max-wdth, $mn-hgt) */
  }
  main div.D-T-L {
    padding-bottom: 40vh;
    background: no-repeat top/100% url('../assets/pexels-pixabay-258136.jpg');
  }
  main div.app {
    margin: 0;
    min-height: 40vh;
  }
  main div.app .display div.section div {
    margin: 1.3rem 1rem;
  }
}
@media only screen and (max-height: 40.75em) and (min-width: 59.375em) {
  main {
    /* ($mx-hgt, $mn-wdth) */
  }
  main div.D-T-L {
    padding-bottom: 40vh;
    background: no-repeat top/100% url('../assets/pexels-pixabay-258136.jpg');
  }
  main div.app {
    margin: 0;
    min-height: 40vh;
  }
  main div.app .display div.section div {
    margin: 1.3rem 1.3rem;
  }
}

footer {
  color: white;
  padding: 1rem;
  border-radius: 0 5rem 0 0;
  background: linear-gradient(
    100deg,
    rgb(12, 202, 177),
    rgba(84, 81, 230, 0.699)
  );
  /* Media Queries */
}
footer div {
  width: 85%;
  margin: 1rem 0;
}
footer div i {
  cursor: pointer;
  font-size: 2.2rem;
  color: white;
}
footer div i.fa-style {
  --fa-beat-fade-opacity: 0.1;
  --fa-beat-fade-scale: 1.25;
}
footer div#author p {
  color: white;
  font-family: 'Lobster Two', cursive;
  font-size: 1.2rem;
  width: 100%;
}
footer div#author p#create {
  margin: 0;
  padding: 0 0 0.6rem 0;
}
footer div#author p#name {
  margin: 0;
  padding: 0 0 0 5rem;
}
@media only screen and (min-height: 37.5em) and (max-width: 20.625em) {
  footer {
    /* Foldable Narrow Device ($mn-hgt, $mx-wdth) */
    min-height: 25vh;
  }
  footer div#author {
    font-size: 0.75rem;
  }
  footer div#author#create {
    padding: 0 0 0.6rem 0;
  }
  footer div#author#name {
    padding: 0 0 0 5rem;
  }
}
@media only screen and (min-width: 31.25em) and (max-height: 28.125em) {
  footer {
    /* ($mn-wdth, $mx-hgt) */
  }
  footer div {
    max-width: 55%;
  }
}
@media only screen and (min-height: 60em) and (max-height: 87em) and (min-width: 45em) and (max-width: 64em) {
  footer {
    /* ALL pads ($mn-hgt, $mx-hgt, $mn-wdth, $mx-wdth) */
    min-height: 15vh;
  }
  footer div {
    max-width: 55%;
  }
  footer div#author p {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 64em) and (max-width: 87em) and (min-height: 48em) {
  footer {
    /* ALL flipped pads ($mn-hgt, $mx-hgt, $mn-wdth, $mx-wdth) */
    max-height: 20vh;
  }
  footer div {
    max-width: 40%;
  }
  footer div#author p {
    font-size: 1.5rem;
  }
}
@media only screen and (max-height: 40.75em) and (min-width: 59.375em) {
  footer {
    /* ($mx-hgt, $mn-wdth) */
    min-height: 20vh;
  }
  footer div {
    width: 35%;
  }
  footer div i {
    font-size: 2.3rem;
  }
  footer div#author p {
    font-size: 1.1rem;
  }
}
