@use 'mixins' as m;

@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

footer {
    color: wheat;
    padding: 1rem;
    p {
        font-family: 'Lobster Two', cursive;
        font-size: 1.1rem;
    }
    div {
        width: 80%;
        margin: 1rem 0;
        i {
            cursor: pointer;
            font-size: 2.2rem;
            color: wheat;
            &.fa-style {
                --fa-beat-fade-opacity: 0.1;
                 --fa-beat-fade-scale: 1.25;
            }
        }
    }

    /* Media Queries */
    @include m.tallMobileScreens(47.8em, 31.25em) { /* ($mn-hgt, $mx-wdth) */
        min-height: 30vh;
    }
    @include m.flippedMobileScreens(31.25em, 28.125em) { /* ($mn-wdth, $mx-hgt) */
        div {
            max-width: 45%;
        }
    }
    @include m.padScreens(60em, 87em, 45em, 64em) { /* ALL pads ($mn-hgt, $mx-hgt, $mn-wdth, $mx-wdth) */
        min-height: 30vh;
        p {
            font-size: 2rem;
        }
        div {
            max-width: 55%;
        }
    }
    @include m.flippedPadScreens(64em, 87em, 48em) { /* ALL flipped pads ($mn-hgt, $mx-hgt, $mn-wdth, $mx-wdth) */
        min-height: 30vh;
        p {
            font-size: 2rem;
        }
        div {
            max-width: 40%;
        }
    }
    @include m.laptopScreens(40.75em, 59.375em) { /* ($mx-hgt, $mn-wdth) */
        p {
            font-size: 1.5rem;
        }
        div {
            width: 35%;
            i {
                font-size: 2.5rem;
            }
        }
    }
}