@use 'mixins' as m;
@use 'variables' as v;

@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

footer {
  color: v.$ftr-txt-clr;
  padding: 1rem;
  border-radius: 0 5rem 0 0;
  background: linear-gradient(100deg, v.$ftr-clr-main, v.$ftr-clr-sec);
  div {
    width: 85%;
    margin: 1rem 0;
    i {
      cursor: pointer;
      font-size: 2.2rem;
      color: v.$ftr-txt-clr;
      &.fa-style {
        --fa-beat-fade-opacity: 0.1;
        --fa-beat-fade-scale: 1.25;
      }
    }
    &#author {
      p {
        color: v.$ftr-txt-clr;
        font-family: 'Lobster Two', cursive;
        font-size: 1.2rem;
        width: 100%;
        &#create {
          margin: 0;
          padding: 0 0 0.6rem 0;
        }
        &#name {
          margin: 0;
          padding: 0 0 0 5rem;
        }
      }
    }
  }

  /* Media Queries */
  @include m.tallMobileScreens(37.5em, 20.625em) {
    /* Foldable Narrow Device ($mn-hgt, $mx-wdth) */
    min-height: 25vh;
    div {
      &#author {
        font-size: 0.75rem;
        &#create {
          padding: 0 0 0.6rem 0;
        }
        &#name {
          padding: 0 0 0 5rem;
        }
      }
    }
  }
  @include m.flippedMobileScreens(31.25em, 28.125em) {
    /* ($mn-wdth, $mx-hgt) */
    div {
      max-width: 55%;
    }
  }
  @include m.padScreens(60em, 87em, 45em, 64em) {
    /* ALL pads ($mn-hgt, $mx-hgt, $mn-wdth, $mx-wdth) */
    min-height: 15vh;
    div {
      max-width: 55%;
      &#author {
        p {
          font-size: 1.5rem;
        }
      }
    }
  }
  @include m.flippedPadScreens(64em, 87em, 48em) {
    /* ALL flipped pads ($mn-hgt, $mx-hgt, $mn-wdth, $mx-wdth) */
    max-height: 20vh;
    div {
      max-width: 40%;
      &#author {
        p {
          font-size: 1.5rem;
        }
      }
    }
  }
  @include m.laptopScreens(40.75em, 59.375em) {
    /* ($mx-hgt, $mn-wdth) */
    min-height: 20vh;
    div {
      width: 35%;
      i {
        font-size: 2.3rem;
      }
      &#author {
        p {
          font-size: 1.1rem;
        }
      }
    }
  }
}
