@use 'mixins' as m;
@use 'variables' as v;

@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

header {
    height: 15vh;
    margin-bottom: 2rem;
    h1 {
        color: v.$hdr-clr;
        font-family: 'Lobster Two', cursive;
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;
        margin-top: 2.3rem;
    }

    /* Media Queries */
    @include m.padScreens(60em, 87em, 45em, 64em) { /* ALL pads ($mn-hgt, $mx-hgt, $mn-wdth, $mx-wdth) */
        h1 {
            margin-top: 7rem;
            font-size: 2.5rem;
        }
    }
    @include m.flippedPadScreens(64em, 87em, 48em) { /* ALL flipped pads ($mn-hgt, $mx-hgt, $mn-wdth, $mx-wdth) */
        h1 {
            margin-top: 7rem;
            font-size: 2.5rem;
        }
    }
    @include m.laptopScreens(40.75em, 59.375em) { /* ($mx-hgt, $mn-wdth) */
        h1 {
            font-size: 2rem;
        }
    }
}