@use 'mixins' as m;
@use 'variables' as v;

@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

header {
  height: 45vh;
  background: linear-gradient(100deg, v.$hdr-clr-sec, v.$hdr-clr-main);
  border-radius: 4rem 0 6rem 0;
  h1 {
    color: v.$hdr-txt-clr;
    font-family: 'Lobster Two', cursive;
    font-size: 1.8rem;
    margin: 0 0 0.7rem 0;
    padding: 0 3rem 0 0;
  }
  h4 {
    color: v.$hdr-txt-clr;
    font-family: 'Lobster Two', cursive;
    margin: 0;
    padding: 0 0 0 3rem;
  }
  i {
    &#cloud {
      position: absolute;
      top: 27vh;
      left: 5vw;
      z-index: 0;
      font-size: 5rem;
      color: v.$hdr-icon-clr;
    }
    &#snow {
      position: absolute;
      top: 4vh;
      right: 5vw;
      z-index: 0;
      font-size: 5rem;
      color: v.$hdr-icon-clr;
    }
  }

  /* Media Queries */
  @include m.tallMobileScreens(37.5em, 20.625em) {
    /* Foldable Narrow Device ($mn-hgt, $mx-wdth) */
    h1 {
      font-size: 1.45rem;
      padding: 0 3rem 0 0;
    }
    h4 {
      font-size: 0.9rem;
      padding: 0 0 0 2.5rem;
    }
    i {
      &#cloud {
        font-size: 4rem;
        top: 30vh;
      }
      &#snow {
        font-size: 4rem;
        top: 6vh;
      }
    }
  }
  @include m.flippedMobileScreens(31.25em, 28.125em) {
    /* Flipped Mobile screens ($mn-wdth, $mx-hgt) */
    i {
      &#cloud {
        top: 19vh;
      }
      &#snow {
        top: 5vh;
      }
    }
  }
  @include m.padScreens(60em, 87em, 45em, 64em) {
    /* ALL pads ($mn-hgt, $mx-hgt, $mn-wdth, $mx-wdth) */
    height: 25vh;
    h1 {
      font-size: 2.5rem;
    }
    h4 {
      font-size: 1.2rem;
    }
    i {
      &#cloud {
        top: 11vh;
        left: 4vw;
        font-size: 8rem;
      }
      &#snow {
        top: 3vh;
        right: 4vw;
        font-size: 8rem;
      }
    }
  }
  @include m.flippedPadScreens(64em, 87em, 48em) {
    /* ALL flipped pads ($mn-hgt, $mx-hgt, $mn-wdth, $mx-wdth) */
    h1 {
      font-size: 3rem;
    }
    h4 {
      font-size: 1.2rem;
    }
    i {
      &#cloud {
        top: 22vh;
        left: 4vw;
        font-size: 8rem;
      }
      &#snow {
        top: 3vh;
        right: 4vw;
        font-size: 8rem;
      }
    }
  }
  @include m.laptopScreens(40.75em, 59.375em) {
    /* ($mx-hgt, $mn-wdth) */
    h1 {
      font-size: 3rem;
    }
    h4 {
      font-size: 1.5rem;
    }
    i {
      &#cloud {
        top: 20vh;
        left: 4vw;
        font-size: 7rem;
      }
      &#snow {
        top: 5vh;
        right: 4vw;
        font-size: 7rem;
      }
    }
  }
}
