@use 'mixins' as m;
@use 'variables' as v;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

main {
  font-family: 'Roboto', sans-serif;
  font-size: v.$pg-font-size;
  min-height: 50vh;
  div {
    margin: 0.7rem 0;
    &.D-T-L {
      margin: 0;
      padding-bottom: 65vh;
      background: no-repeat center/290% url("../assets/pexels-pixabay-258136.jpg");
      border-radius: 0 0 0 5rem;
      div {
        &.D-T {
          p {
            margin: 0 0 0 1.5rem;
            &#time {
              font-size: v.$pg-font-size + 0.8rem;
            }
            &#date {
              font-size: v.$pg-font-size;
            }
          }
        }
      }
    }
    &.app {
      width: 100%;
      background-color: v.$pg-bckgrnd-clr;
      margin: 0;
      .dataField {
        #field1 {
          label {
            font-size: v.$pg-font-size + 0.1rem;
            font-weight: bold;
            text-align: center;
            margin-bottom: 0.6rem;
            color: v.$pg-title-clr;
          }
          .country {
            margin: 0.35rem;
            select {
              @include m.inputArea(0.5rem, 0.5rem, 2px solid grey);
            }
          }
          .zipSection {
            margin: 0.35rem;
            input {
              @include m.inputArea(0.5rem, 0.5rem, 2px solid grey);
              width: 7.5rem;
              text-decoration: 1px underline grey;
            }
          }
          .feel {
            margin: 0.35rem;
            textarea {
              @include m.inputArea(0.5rem, 0.5rem, 2px solid grey);
              text-decoration: 1px underline grey;
              height: 1.15rem;
              min-height: 1.15rem;
              max-height: 1.15rem;
              width: 13rem;
              min-width: 13rem;
              max-width: 13rem;
            }
          }
        }
        #field2 {
          button {
            font-size: v.$pg-font-size - 0.05rem;
            width: 12rem;
            color: v.$button-txt-clr;
            background-color: v.$button-clr;
            border: 2px solid v.$button-clr;
            font-weight: bold;
            padding: 0.6rem;
            border-radius: 1.5rem;
            margin: 0.35rem 0 0.35rem 0;
            &:hover {
              cursor: pointer;
              color: v.$button-clr;
              background-color: v.$button-txt-clr;
            }
          }
        }
      }
      .display {
        div {
          &.section {
            div {
              margin: 1.3rem 0.55rem;
              i {
                font-size: v.$pg-font-size + 0.1rem;
                padding: 1rem 1.2rem;
                border-radius: 4rem;
                &.fa-location-dot {
                  color: v.$loc-icon-clr;
                  background-color: v.$loc-icon-bckgrnd;
                }
                &.fa-temperature-half {
                  color: v.$temp-icon-clr;
                  background-color: v.$temp-icon-bckgrnd;
                }
                &.fa-wind {
                  color: v.$wind-icon-clr;
                  background-color: v.$wind-icon-bckgrnd;
                }
                &.fa-droplet {
                  color: v.$droplet-icon-clr;
                  background-color: v.$droplet-icon-bckgrnd;
                }
                &.fa-user {
                  color: v.$user-icon-clr;
                  background-color: v.$user-icon-bckgrnd;
                }
              }
              .value {
                font-size: v.$pg-font-size - 0.05rem;
                font-weight: bold;
                color: v.$pg-title-opac-clr;
                text-align: center;
                margin: 0;
                transition: opacity 2.5s ease-in-out;
                &.hide {
                  opacity: 0;
                }
              }
              .title {
                padding-bottom: 0.75rem;
                border-bottom: 1px solid v.$pg-title-opac-clr;
                font-weight: bold;
                color: v.$pg-title-opac-clr;
                text-align: center;
              }
            }
          }
        }
        #header {
          font-family: 'Lobster Two', cursive;
          font-weight: bold;
          font-size: v.$pg-font-size + 0.4rem;
          color: v.$pg-title-opac-clr;
        }
      }
    }
  }

  /* Media Queries */
  @include m.flippedMobileScreens(31.25em, 28.125em) {
    div {
      &.D-T-L {
        background: no-repeat center/100% url("../assets/pexels-pixabay-258136.jpg");
      }
    }
  }
  @include m.tallMobileScreens(47.8em, 31.25em) {
    /* Tall Mobile Screens ($mn-hgt, $mx-wdth) */
    min-height: 50vh;
  }
  @include m.tallMobileScreens(37.5em, 20.625em) {
    /* Foldable Narrow Device ($mn-hgt, $mx-wdth) */
    div {
      &.D-T-L {
        background: no-repeat center/330% url("../assets/pexels-pixabay-258136.jpg");
        div {
          &.D-T {
            margin: 0 0 0 0.85rem;
            p {
              &#time {
                font-size: v.$pg-font-size + 0.35rem;
              }
              &#date {
                font-size: v.$pg-font-size - 0.15rem;
              }
            }
          }
          &.loc {
            p {
              margin: 0 0.85rem 0 0;
              &#cityLoc {
                font-size: v.$pg-font-size + 0.35rem;
              }
              &#country {
                font-size: v.$pg-font-size - 0.15rem;
              }
            }
          }
        }
      }
    }
  }
  @include m.padScreens(60em, 87em, 45em, 64em) {
    /* ALL pads ($mn-hgt, $mx-hgt, $mn-wdth, $mx-wdth) */
    div {
      &.D-T-L {
        padding-bottom: 40vh;
        background: no-repeat center/150% url("../assets/pexels-pixabay-258136.jpg");
      }
      &.app {
        margin: 2rem 0;
        min-height: 40vh;
        .display {
          div {
            &.section {
              div {
                margin: 1.3rem 0.8rem;
              }
            }
          }
        }
      }
    }
  }
  @include m.flippedPadScreens(64em, 87em, 44em) {
    /* ALL flipped pads ($mn-wdth, $max-wdth, $mn-hgt) */
    div {
      &.D-T-L {
        padding-bottom: 40vh;
        background: no-repeat top/100% url("../assets/pexels-pixabay-258136.jpg");
      }
      &.app {
        margin: 0;
        min-height: 40vh;
        .display {
          div {
            &.section {
              div {
                margin: 1.3rem 1rem;
              }
            }
          }
        }
      }
    }
  }
  @include m.laptopScreens(40.75em, 59.375em) {
    /* ($mx-hgt, $mn-wdth) */
    div {
      &.D-T-L {
        padding-bottom: 40vh;
        background: no-repeat top/100% url("../assets/pexels-pixabay-258136.jpg");
      }
      &.app {
        margin: 0;
        min-height: 40vh;
        .display {
          div {
            &.section {
              div {
                margin: 1.3rem 1.3rem;
              }
            }
          }
        }
      }
    }
  } 
}
