@use 'mixins' as m;
@use 'variables' as v;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

main {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: v.$main-div-clr;
    padding: 1rem;
    min-height: 50vh;
    div {
        margin: 0.7rem 0;
        &.dataField {
            width: 100%;
            label {
                font-weight: bold;
                text-align: center;
                margin-bottom: 0.6rem;
            }
            .country {
                select {
                    @include m.inputArea(0.25rem, 0.7rem, none);
                    padding: 0.5rem;
                }
            }
            .zipSection {
                input {
                    @include m.inputArea(0.25rem, 0.7rem, none);
                    width: 7.5rem;
                    padding: 0.5rem;
                }
            }
            .feel {
                textarea {
                    @include m.inputArea(0.25rem, 0.7rem, none);
                    padding: 0.35rem;
                    height: 2rem;
                    min-height: 1.3rem;
                    max-height: 5rem;
                    width: 45vw;
                    min-width: 30vw;
                    max-width: 55vw;
                }
            }
            button {
                color: v.$button-txt-clr;
                font-weight: bold;
                padding: 1rem;
                border-radius: 1rem;
                background: linear-gradient(100deg, v.$button-bg-main-clr, v.$button-bg-secondary-clr);
                border: none;
                margin-top: 1.2rem;
                &:hover {
                    cursor: pointer;
                    color: v.$button-txt-hover-clr;
                    background: linear-gradient(200deg, v.$button-bg-main-clr, v.$button-bg-secondary-clr);
                }
            }
        }
        &.display {
            border: 2px solid v.$display-div-br-clr;
            border-radius: 1rem;
            height: 30rem;
            max-height: 4rem;
            transition: max-height 1s ease-in-out;
            width: 70vw;
            box-shadow: 1px 4px 4px rgba(192, 192, 192, 0.548);
            div {
                padding-top: 0.85rem;
                &.hide{
                    display: none;
                }
                &.limitWidth {
                    width: 75%;
                    padding-left: 1.5rem;
                }
                .hide{
                    display: none;
                }
                i {
                    &.fa-style {
                        --fa-beat-fade-opacity: 0.1;
                         --fa-beat-fade-scale: 1.25;
                    }
                }
            }
            &.extend {
                max-height: 30rem;
            }
        }
    }

    /* Media Queries */
    @include m.tallMobileScreens(47.8em, 31.25em) { /* ($mn-hgt, $mx-wdth) */
        min-height: 40vh;
        div {
            &.display {
                @include m.displayStyle(70vw, 30rem, 4rem, 30rem);
            }
        }
    }
    @include m.tallMobileScreens(37.5em, 20.625em) { /* Foldable Narrow Device ($mn-hgt, $mx-wdth) */
        div {
            &.dataField {
                .feel {
                    textarea {
                        width: 55vw;
                        max-width: 70vw;
                    }
                }
            }
            &.display {
                @include m.displayStyle(85vw, 30.5rem, 4rem, 30.5rem);
                div {
                    &.limitWidth {
                        width: 80%;
                    }
                }
            }
        }
    }
    @include m.flippedMobileScreens(31.25em, 28.125em) { /* ($mn-wdth, $mx-hgt) */
        div {
            &.display {
                @include m.displayStyle(55vw, 30rem, 4rem, 30rem);
            }
        }
    }
    @include m.padScreens(60em, 87em, 45em, 64em) { /* ALL pads ($mn-hgt, $mx-hgt, $mn-wdth, $mx-wdth) */
        @include m.padStyles(1.3rem, 45vh, 80%, 10rem, 0.45rem, 1.1rem, 50vw, 34rem, 4.5rem, 34rem);
    }
    @include m.flippedPadScreens(64em, 87em, 48em) { /* ALL flipped pads ($mn-hgt, $mx-hgt, $mn-wdth, $mx-wdth) */
        @include m.padStyles(1.3rem, 55vh, 80%, 10rem, 0.45rem, 1.1rem, 40vw, 34rem, 4.5rem, 34rem);
    }
    @include m.laptopScreens(40.75em, 59.375em) { /* ($mx-hgt, $mn-wdth) */
        div {
            &.dataField {
                width: 45%;
                .feel {
                    textarea {
                        width: 25vw;
                        min-width: 20vw;
                        max-width: 30vw;
                    }
                }
            }
            &.display {
                @include m.displayStyle(30vw, 34rem, 4.5rem, 34rem);
                font-size: 1.2rem;
                div {
                    &.limitWidth {
                        width: 85%;
                    }
                }
            }
        }
    }
}