@mixin displayGrid($numOfRows, $numOfColumns, $area) {
    display: grid;
    grid-template-rows: repeat($numOfRows, auto);
    grid-template-columns: $numOfColumns;
    grid-area: $area;
    gap: 1.5rem;
}

@mixin displayFlex($flex-direc, $wrap, $justify, $align) {
    display: flex;
    flex-flow: $flex-direc $wrap;
    justify-content: $justify;
    align-items: $align;
}

@mixin inputArea($padding, $border-radius, $border-type) {
    padding: $padding;
    border-radius: $border-radius;
    border: $border-type;
}

@mixin tallMobileScreens {
    @media only screen and (min-height: 47.8em) and (max-width: 31.25em){
        @content;
    }    
}

@mixin flippedMobileScreens {
    @media only screen and (min-width:31.25em) and (max-height:28.125em) {
        @content;
    }    
}

@mixin padScreens {
    @media only screen and (min-height: 46.8em) and (min-width: 31.25em){
        @content;
    }    
}

@mixin laptopScreens {
    @media only screen and (max-height: 40.75em) and (min-width: 59.375em) {
        @content;
    }
}