$pg-main-clr: rgb(93, 0, 146);
$pg-secondary-clr: rgb(0, 132, 172);
$hdr-clr: white;
$main-div-clr: wheat;
$display-div-br-clr: wheat;
$button-txt-clr: white;
$button-txt-hover-clr: rgb(94, 94, 94);
$button-bg-main-clr: rgb(182, 182, 182);
$button-bg-secondary-clr: rgb(185, 152, 90);